* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
.wrap {
  height: 100%;
  background-color: #fff;
}

.login-phone {
  display: flex;
  align-items: center;
}

.login-code {
  display: flex;
  align-items: center;
}
.login-code .login-get {
  /* background-color: pink; */
  line-height: 30px;
  padding: 0 10px;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  height: 30px;
}
